@use '../../styles.scss';

nav {
  height: 10vh;
  background-color: styles.$toolbar-color;
  display: flex;
  align-items: center;
  padding: 0 1em;
  box-shadow: darken(styles.$toolbar-color, 5%) 2px 2px 3px;
  z-index: 2;
  width: 100%;
  position: fixed;
  top: 0;
  .logo {
    font-weight: bold;
    font-size: 2rem;
  }
  a {
    text-decoration: none;
    color: white;
  }
  ul.nav-links {
    list-style: none;
    margin-left: auto;
    display: flex;
    align-items: center;
    height: inherit;
    li {
      font-size: 1.2em;
      display: inherit;
      align-items: inherit;
      height: inherit;
      padding: 0 1em;
      &:hover {
        background-color: darken(styles.$toolbar-color, 15%);
      }
      #cartAmount {
        background-color: white;
        color: black;
        border-radius: 50%;
        width: 1em;
        height: 1em;
        text-align: center;
        display: inline-flex;
        flex-direction: column-reverse;
      }
    }
  }
}
