@use '../../styles.scss';

h1 {
  color: styles.$primary-color;
  font-size: 6em;
  text-align: center;
  margin-top: .5em;
  margin-bottom: 1em;
}
.container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2%;
  table {
    width: 100%;
    text-align: center;
    th {
      color: styles.$primary-color;
      font-size: 3em;
    }
    th,
    td {
      padding: 1em;
    }
    tr {
      h5 {
        font-size: 3em;
        color: styles.$primary-color;
        text-align: right;
      }
    }
  }
  p {
    font-size: 2em;
    color: white;
  }
  img {
    max-width: 15vw;
    max-height: 20vh;
    width: auto;
    height: auto;
  }
}

button {
  margin-bottom: 25px;
  background-color: styles.$primary-color;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 16px;
  border-radius: 5px;
  margin-left: auto;
  width: 50%;
  margin-top: 2.5em;
  &:hover {
    background-color: darken(styles.$primary-color, 15%);
    font-weight: bold;
    transition: 0.2s ease-in-out;
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}
