@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

// #9742e5;
$primary-color: #ea1d6f;
$secondary-color: #ebebeb;
$tertiary-color: #3e3e3e;
$toolbar-color: #4d4d4f;

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $tertiary-color;
}
