@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

$primary-color: #9742e5;
$secondary-color: #c8c8c8;
$tertiary-color: #eee;
$toolbar-color: #666;

* {
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $tertiary-color;
}
