<div class="container">
  <h1>Lorem. Ipsum. Dolor.</h1>
  <div class="row">  
    <img src="https://images.unsplash.com/photo-1560769629-975ec94e6a86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=80" alt="">
    <p>Lorem, ipsum dolor sit amet consectetur <span class="special-text">adipisicing</span> elit. Deleniti iusto officia odio. Pariatur, nesciunt fugiat.</p>
  </div>
  <div class="row">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab eum doloremque sequi <span class="special-text">labore</span> earum animi.</p>
    <img src="https://images.unsplash.com/photo-1570037276380-c3c19487a76d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80" alt="">
  </div>
</div>

