@use '../../styles.scss';

.container {
  width: 80%;
  margin: 0 auto;
  h1 {
    background-color: styles.$secondary-color;
    color: styles.$primary-color;
    font-size: 4em;
    text-align: center;
    padding: 50px 0;
  }
  .special-text {
    color: styles.$primary-color;
    font-weight: bold;
  }
  .row {
    display: flex;
    align-items: center;
    p {
      font-size: 3em;
      padding: 0 .5em;
    }
  }
}
